validate_aie_pl
*.jou
profile_summary.html
profile_summary.csv
_v++_*/
.Xil/
*.csv
*.str
*.ll
*.exe
emconfig.json
xmltmp
dltmp*
runtime/
*.log
xclbin/
lib/
*.orig
*_BACKUP_*
*_BASE_*
*_LOCAL_*
*_REMOTE_*
*.swp
log.*
*.txt
*.bin
*.xclbin
build*
_x*
!x3h/rx_exerciser_tx_passthrough/pcaprecv.txt
!x3h/rx_exerciser_tx_passthrough/pcapsend.txt
hello_world/
host_py/
performance/
rtl_kernels/backup/*
rtl_kernels/rtl*
rtl_kernels/README.rst
rtl_kernels/summary*
rtl_kernels/cam*/tmp*
rtl_kernels/cam*/package*
rtl_kernels/cam*/*.csv
rtl_kernels/cam*/.run
rtl_kernels/cam*/.ipcache
sys_opt/
host_xrt/*


